.search-contact{
    margin: 0 33% 28px 33% ;
    padding: 8px 0 7px 10px;
    width: 33.1%;
    background: #E8E8E8;
    border: 1px solid #000000;
    border-radius: 15px;
    color: #474747;
    font-size: 12px;
    line-height: 15px;
}