.contact-list{
    margin: 0 33%;
    padding: 0;
}
.cb-item{
    margin: 10px 0;
    padding: 0 10px 0 20px;
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 12fr 1fr 2fr;
    background: #D9D9D9;
    border-radius: 15px;
}
.cb-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #F3F2F2;
    margin: 10px 20px 10px 0;
}
.cb-wrapper{
    display: flex;
    flex-direction: column;
}
#cb-tittle{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.cb-phone{
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
    margin-top: 6px;
}
.cb-button{
    border: none;
    border-radius: 15px;
    background: #D9D9D9;
    padding: 0;
    margin: 0;
}